body {
    font-family: 'Arial', sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 20px;
}

div {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 15px;
}

form {
    margin-bottom: 20px;
}

form p {
    font-weight: bold;
    color: #333;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.table {
    padding: 15px;
}

.table input[type="button"] {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.table input[type="button"]:hover {
    background-color: #007B8A;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

svg text {
    font: 8px Verdana;
   }

svg path, line {
    fill: none;
    stroke: #333333;
    width: 1px;
}
   